.creatememory-main {
    min-height: 73vh;
    max-height: auto;
    width: 20vw;
    left: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20px;
    background-color: white;
}

@media screen and (min-width : 320px) {
    .creatememory-main {
        width: 100%;
        left: -5rem;
        height: 82vh;
    }

    #myfile {
        position: relative;
        left: 3rem;
    }

}


@media screen and (min-width : 425px) and (max-width : 768px) {
    .creatememory-main {
        position: relative;
        left: -8rem;
    }
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
    .creatememory-main {
        position: relative;
        left: 5rem;
        width: 30vw;
    }
}

@media screen and (min-width : 1024px) and (max-width : 1440px) {
    .creatememory-main {
        position: relative;
        height: 73vh;
        left: 5rem;
        width: 30vw;
    }
}



@media screen and (min-width : 1440px) {
    .creatememory-main {
        width: 20vw;
        height: 73vh;
        left: 10rem;
    }

    #myfile{
        left: 0;
    }
}