html{
  background-color: #0096FF;
}

.navbar{
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.memories{
  background-color: white;
  width: 70vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 7.5vh;
}

.memories span{
  color: #0096FF;
  font-size: 30px;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}
